.desktop{height:auto;}.mobile{height:0;}
@media (max-width: 40.06rem) {.desktop{height:0;}.mobile{height:auto;}}

.habitaciones_cuartos_texto{padding:100px 0 50px 0;}
.habitaciones_cuartos_texto #text1{opacity: 0;transform: translate(-1000px,0);max-width: 450px;}
.habitaciones_cuartos_texto h1{font-weight: 500;font-size: 40px;text-align: center;}
.habitaciones_cuartos_texto h1 b{font-weight: 800;text-transform: uppercase;}
.habitaciones_cuartos_texto p{font-size: 20px;}
.habitaciones_cuartos_texto span{text-transform: uppercase;}


/*	COMPARAR SECTION*/
.comparar_section{}
.comparar_section .container{display: grid;grid-template-columns: 1fr 1fr;grid-gap:50px;}
@media (max-width: 40.06rem) {.comparar_section .container{grid-gap:10px;}}

.habitacion_container{display: grid;grid-gap:25px; grid-template-rows: 50px 1fr;overflow: hidden;}
.habitacion_left{grid-template-columns:2fr 1fr;}
.habitacion_right{grid-template-columns:1fr 2fr;}
.habitacion_container .habitacion_select{grid-column-start: 1;grid-column-end: 3;border:0;font-family: 'Cormorant Upright', serif;outline: none;font-size: 24px;}
@media (max-width: 40.06rem) {
	.habitacion_container{grid-template-rows: 50px 25vh auto;}
	.habitacion_container .habitacion_select{grid-column-end: 2;}
	.habitacion_left{grid-template-columns:1fr;}
	.habitacion_right{grid-template-columns:1fr;}
	.habitacion_right .habitacion_amenidades{grid-row-start: 3;grid-row-end: 4;}
}

.habitacion_img{width:100%;position: relative;}
.habitacion_item{position:absolute;top:0;opacity: 0;height:50vh;width:100%;visibility:hidden;transition:all 0.3s ease-in;}
.habitacion_item.active{opacity: 1;visibility:visible;}
@media (max-width: 40.06rem) {
	.habitacion_item{height: 30vh}
}




.habitacion_amenidades {width:100%;position: relative;height:2020px;}
.habitacion_amenidades .habitacion_text{position:absolute;top:0;z-index:1;opacity:0;display: grid;grid-gap:25px;justify-content: center;align-items: center;transition:all 0.3s ease-in;}
/*.habitacion_amenidades .habitacion_text{position:absolute;top:0;z-index:1;opacity:0;display: grid;grid-template-rows: repeat(17,1fr);grid-gap:25px;justify-content: center;align-items: center;transition:all 0.3s ease-in;}*/
.habitacion_amenidades .habitacion_text.active{opacity: 1;z-index: 10;}
.habitacion_amenidades .habitacion_text .amenitades_box img{width: 100%;}
.habitacion_amenidades .habitacion_text .amenitades_box{text-align: center;height: 100%;display: grid;align-items: center;}
.habitacion_amenidades .habitacion_text .amenitades_box hr{width:80%;height:1px;border:0;background: #000;}
.habitacion_amenidades .habitacion_text .amenitades_box p{padding: 0;font-size: 14px;margin:0;}
.habitacion_amenidades .habitacion_text .amenitades_box p.number{font-size: 30px;}
.habitacion_amenidades .habitacion_text .amenitades_box p.title{font-size: 14px;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button{position:relative;outline:none;background: #000;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:hover{cursor: pointer;background:#fff;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:hover a{color:#000;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:hover:before,
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:hover:after{transform: scaleY(1);}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button span{position: relative;display: block;padding:5px 0;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:hover span:after,
.habitacion_amenidades .habitacion_text .reservarButtonContainer .button:hover span:before{transform: scaleX(1);}










/*	END COMPARAR SECTION*/
.reservar_section{margin:50px auto;}
.reservar_section p{transform: translate(0, -100px);opacity: 0;font-size: 20px;}


.habitaciones_container{padding:50px 0;}
.habitaciones_container h2{opacity: 0;transform: translate(100px,0);text-align: right;position: relative;text-transform: uppercase;font-size: 30px;}
.habitaciones_container h2:after{content: '';position: absolute;bottom:-5px;right:0;height:2px;width:20px;background: #000;}

.habitaciones_container .boxContainer{display: grid;grid-template-columns: 1fr 1fr;min-height:50vh;justify-content: center;align-items: center;grid-gap: 50px;padding:50px 0;}
@media (max-width: 40.06rem) {.habitaciones_container .boxContainer{grid-template-columns: 1fr;padding:25px 0;grid-gap:0;}}
.boxContainer p{font-size: 20px;margin:0;}
.boxContainer .boxTextContainer p{margin-bottom:20px;}
.boxContainer .box{position: relative;}
.boxContainer .box .title{font-size: 35px;}
.boxContainer .boxText span{text-transform: uppercase;}
.boxContainer .box .icon{position: absolute;}
.boxContainer .button{position:relative;outline:none;background: #000;opacity:0;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.boxContainer .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.boxContainer .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover{cursor: pointer;background:#fff;}
.boxContainer .button:hover a{color:#000;}
.boxContainer .button:hover:before,
.boxContainer .button:hover:after{transform: scaleY(1);}
.boxContainer .button span{position: relative;display: block;padding:5px 0;}
.boxContainer .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover span:after,
.boxContainer .button:hover span:before{transform: scaleX(1);}

#CuartosBox{text-align: left;overflow: hidden;padding:0 0 50px 0;}
#CuartosBox .box #Cuartos_desktop{opacity: 0;transform: translate(-200px,0);}
#CuartosBox .box #Cuartos_mobile{opacity: 0;transform: translate(-200px,0);}
#CuartosBox .box #titleCuartos{position: absolute;left: 0px;bottom:-0.5em;width:100%;text-align:left;opacity: 0;transform: translate(0,100px);}
#CuartosBox #CuartosButton{margin:35px 0 0 0;}

#bungalosBox{text-align: left;overflow: hidden;padding:0 0 50px 0;}
#bungalosBox .box #Bungalos_desktop{opacity: 0;transform: translate(200px,0);}
#bungalosBox .box #Bungalos_mobile{opacity: 0;transform: translate(200px,0);}
#bungalosBox .box #titleBungalos{position: absolute;left: 0px;bottom:-0.5em;width:100%;text-align:right;opacity: 0;transform: translate(0,100px);}
#bungalosBox #BungalosButton{margin:35px 0 0 0;width: 200px;float: right;}

@media (max-width: 40.06rem) {
	#bungalosBox .box{grid-row-start: 1;grid-row-end: 2;}
}

#SuiteLunaBox .box #SuiteLuna_desktop{opacity: 0;transform: translate(-200px,0);}
#SuiteLunaBox .box #SuiteLuna_mobile{opacity: 0;transform: translate(-200px,0);}
#SuiteLunaBox .box #titleSuiteLuna{position: absolute;left: 0;bottom:-25px;opacity: 0;transform: translate(0,100px);}
#SuiteLunaBox #SuiteLunaButton{margin:35px 0 0 0;}

#MasterSuiteBox{text-align: left;overflow: hidden;}
#MasterSuiteBox .box #MasterSuite_desktop{opacity: 0;transform: translate(200px,0);}
#MasterSuiteBox .box #MasterSuite_mobile{opacity: 0;transform: translate(200px,0);}
#MasterSuiteBox .box #titleMasterSuite{position: absolute;left: 0px;bottom:-0.5em;width:100%;text-align:right;opacity: 0;transform: translate(0,100px);}
#MasterSuiteBox #MasterSuiteButton{float:right;width:200px;margin:35px 0 0 0;}
@media (max-width: 40.06rem) {
	#MasterSuiteBox .box{grid-row-start: 1;grid-row-end: 2;}
}