
.desktop{height:auto;}.mobile{height:0;}
@media (max-width: 40.06rem) {.desktop{height:0;}.mobile{height:auto;}}

.habitaciones_cuartos_texto{padding:150px 0 50px 0;}
.habitaciones_cuartos_texto #text1{opacity: 0;transform: translate(-1000px,0);text-align: center;max-width: 450px;}
.habitaciones_cuartos_texto h1{font-weight: 500;font-size: 40px;}
.habitaciones_cuartos_texto h1 b{font-weight: 800;text-transform: uppercase;}
.habitaciones_cuartos_texto p{font-size: 20px;}
.habitaciones_cuartos_texto span{text-transform: uppercase;}

.habitacionTipo_carousel .container{display: grid;grid-template-columns: 2fr 1fr;grid-gap:0px;}
@media (max-width: 40.06rem) {
	.habitaciones_cuartos_texto{padding:100px 0 50px 0;}
	.habitacionTipo_carousel .container{grid-template-columns: 1fr;grid-gap: 20px;}
}
.carouselContainer{position: relative;opacity: 0;transform: translate(200px,0);}
.carouselContainer amp-carousel .carouselDiv{width: 90%;margin:0 auto;}
.carouselContainer amp-carousel .carouselDiv amp-img{opacity: 0;transition: all 500ms ease-in;}
@media (max-width: 40.06rem) {	.carouselContainer amp-carousel .carouselDiv{width: 85%;}}
#carouselHabitaciones .i-amphtml-carousel-slide-item[aria-hidden="false"] amp-img{opacity: 1;transform:translate(0,0)}


/*	ARROWS CAROUSEL*/
.carouselContainer amp-carousel .amp-carousel-button{background-color: transparent;outline:none;margin:0;width:30px;height: 15px;}
.carouselContainer amp-carousel .amp-carousel-button-prev {transform: scale(2) rotate(-90deg);background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.65 4.79'%3E%3Ctitle%3Eup%3C/title%3E%3Cg id='Capa_2' data-name='Capa 2'%3E%3Cg id='Capa_1-2' data-name='Capa 1'%3E%3Cpath d='M5.82.24a.68.68,0,0,0-.39.12L.33,3.93l.37.53L5.8.89h0L11,4.44l.37-.53L6.21.36A.68.68,0,0,0,5.82.24Z' style='fill:%;stroke:%;stroke-miterlimit:10;stroke-width:0.470551181102362px'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
.carouselContainer amp-carousel .amp-carousel-button-next {transform: scale(2) rotate(90deg);background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.65 4.79'%3E%3Ctitle%3Eup%3C/title%3E%3Cg id='Capa_2' data-name='Capa 2'%3E%3Cg id='Capa_1-2' data-name='Capa 1'%3E%3Cpath d='M5.82.24a.68.68,0,0,0-.39.12L.33,3.93l.37.53L5.8.89h0L11,4.44l.37-.53L6.21.36A.68.68,0,0,0,5.82.24Z' style='fill:%;stroke:%;stroke-miterlimit:10;stroke-width:0.470551181102362px'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}



.carousel_text{max-width: 250px;margin:0 auto;position: relative;}
.carousel_text h2{opacity: 0;transform: translate(100px,0);margin-top:0;text-align: left;position: relative;text-transform: uppercase;font-size: 30px;}
.carousel_text h2:after{content: '';position: absolute;bottom:-5px;left:0;height:2px;width:20px;background: #000;}
.carousel_text .amenidades{opacity: 0;transform: translate(-200px,0);}
.carousel_text .amenidades li p{font-size: 20px;}

.reservar_section{padding:50px 0;margin:50px auto;background-image: url(../img/tripadvisor.png);background-position: 0;background-size:cover;background-repeat: no-repeat;text-align: center;}
.reservar_section p{transform: translate(0, -100px);opacity: 0;font-size: 20px;}
.reservar_section .button{position:relative;outline:none;background: #000;opacity:0;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.reservar_section .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.reservar_section .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.reservar_section .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.reservar_section .button:hover{cursor: pointer;background:#fff;}
.reservar_section .button:hover a{color:#000;}
.reservar_section .button:hover:before,
.reservar_section .button:hover:after{transform: scaleY(1);}
.reservar_section .button span{position: relative;display: block;padding:5px 0;}
.reservar_section .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.reservar_section .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.reservar_section .button:hover span:after,
.reservar_section .button:hover span:before{transform: scaleX(1);} 

.habitaciones_container{padding:50px 0;}
.habitaciones_container h2{opacity: 0;transform: translate(100px,0);text-align: right;position: relative;text-transform: uppercase;font-size: 30px;}
.habitaciones_container h2:after{content: '';position: absolute;bottom:-5px;right:0;height:2px;width:20px;background: #000;}
.habitaciones_container .boxContainer{display: grid;grid-template-columns: 1fr 1fr;min-height:50vh;justify-content: center;align-items: center;grid-gap: 50px;padding:50px 0;}
@media (max-width: 40.06rem) {.habitaciones_container .boxContainer{grid-template-columns: 1fr;padding:50px 0 0 0;}}
.boxContainer .box{position: relative;}
.boxContainer .box .title{font-size: 35px;text-align: center;margin-top:0.5em;}
@media (max-width: 40.06rem) {.boxContainer .box .title{margin-bottom:0.5em;}}
.boxContainer .button{position:relative;outline:none;background: #000;opacity:0;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.boxContainer .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.boxContainer .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover{cursor: pointer;background:#fff;}
.boxContainer .button:hover a{color:#000;}
.boxContainer .button:hover:before,
.boxContainer .button:hover:after{transform: scaleY(1);}
.boxContainer .button span{position: relative;display: block;padding:5px 0;}
.boxContainer .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover span:after,
.boxContainer .button:hover span:before{transform: scaleX(1);}

#room1{text-align: left;overflow: hidden;}
#room1 .box amp-img{opacity: 0;transform: translate(-200px,0);}
#room1 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room1 .box p{text-align:left;}
	#room1 .box .button{margin:0;}
}

#room2{text-align: left;overflow: hidden;}
#room2 .box amp-img{opacity: 0;transform: translate(-200px,0);}
#room2 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room2 .box p{text-align:right;padding-right: 5px;}
	#room2 .box .button{width: 200px;float: right;}
}

#room3{text-align: left;overflow: hidden;}
#room3 .box amp-img{opacity: 0;transform: translate(200px,0);}
#room3 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room3 .box p{text-align:left;}
	#room3 .box .button{margin:0;}
}

#room4{text-align: left;overflow: hidden;}
#room4 .box amp-img{opacity: 0;transform: translate(200px,0);}
#room4 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room4 .box p{text-align:right;padding-right: 5px;}
	#room4 .box .button{width: 200px;float: right;}
}

#room5{text-align: left;overflow: hidden;}
#room5 .box amp-img{opacity: 0;transform: translate(-200px,0);}
#room5 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room5 .box p{text-align:left;}
	#room5 .box .button{margin:0;}
}

#room6{text-align: left;overflow: hidden;}
#room6 .box amp-img{opacity: 0;transform: translate(-200px,0);}
#room6 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room6 .box p{text-align:right;padding-right: 5px;}
	#room6 .box .button{width: 200px;float: right;}
}

#room7{text-align: left;overflow: hidden;}
#room7 .box amp-img{opacity: 0;transform: translate(200px,0);}
#room7 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room7 .box p{text-align:left;}
	#room7 .box .button{margin:0;}
}

#room8{text-align: left;overflow: hidden;}
#room8 .box amp-img{opacity: 0;transform: translate(200px,0);}
#room8 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room8 .box p{text-align:right;padding-right: 5px;}
	#room8 .box .button{width: 200px;float: right;}
}

#room9{text-align: left;overflow: hidden;}
#room9 .box amp-img{opacity: 0;transform: translate(-200px,0);}
#room9 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room9 .box p{text-align:left;}
	#room9 .box .button{margin:0;}
}

#room10{text-align: left;overflow: hidden;}
#room10 .box amp-img{opacity: 0;transform: translate(-200px,0);}
#room10 .box p{opacity: 0;transform: translate(0,100px);}
@media (max-width: 40.06rem) {
	#room10 .box p{text-align:right;padding-right: 5px;}
	#room10 .box .button{width: 200px;float: right;}
}

.habitacionescompararContainer{height: 60vh;width: 100%;background-image: url('../img/habitaciones-comparar.jpg');background-position: 50%;background-repeat: no-repeat;background-size:cover;}
@media (max-width: 40.06rem) {.habitaciones_general_header{background-image: url('../img/habitaciones-comparar-mobile.jpg');}}
.habitacionescompararContainer .container{display: grid;justify-content: center;align-items: center;height: 100%;}
@media (max-width: 40.06rem) {.habitacionescompararContainer .container{justify-content: left;}}

.habitacionescompararContainer .container h1{font-weight: 500;font-size: 40px;opacity: 0;transform: translate(0,-100px);}
.habitacionescompararContainer .container h1 b{font-weight: 800;text-transform: uppercase;}
.habitacionescompararContainer .container .button{position:relative;outline:none;background: #000;opacity:0;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.habitacionescompararContainer .container .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.habitacionescompararContainer .container .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.habitacionescompararContainer .container .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.habitacionescompararContainer .container .button:hover{cursor: pointer;background: #FFF;}
.habitacionescompararContainer .container .button:hover a{color:#000;}
.habitacionescompararContainer .container .button:hover:before,
.habitacionescompararContainer .container .button:hover:after{transform: scaleY(1);}
.habitacionescompararContainer .container .button span{position: relative;display: block;padding:5px 0;}
.habitacionescompararContainer .container .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.habitacionescompararContainer .container .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.habitacionescompararContainer .container .button:hover span:after,
.habitacionescompararContainer .container .button:hover span:before{transform: scaleX(1);}