.desktop{height:auto;}.mobile{height:0;}
@media (max-width: 40.06rem) {.desktop{height:0;}.mobile{height:auto;}}

.sensaciones_header{height: 100vh;width: 100%;background-image: url('../img/servicios_sensaciones_header_desktop.jpg');background-position: 50%;background-repeat: no-repeat;background-size:cover;}
@media (max-width: 40.06rem) {.sensaciones_header{background-image: url('../img/servicios_sensaciones_header_mobile.jpg');}}
.sensaciones_texto{padding:100px 0;}
.sensaciones_texto #text1{opacity: 0;transform: translate(-1000px,0);text-align: center;max-width: 450px;}
.sensaciones_texto h1{font-weight: 500;font-size: 40px;}
.sensaciones_texto h1 b{font-weight: 800;text-transform: uppercase;}
.sensaciones_texto p{font-size: 20px;}


.sensaciones_atracciones h2{opacity: 0;transform: translate(100px,0);text-align: right;position: relative;text-transform: uppercase;font-size: 30px;}
.sensaciones_atracciones h2:after{content: '';position: absolute;bottom:-5px;right:0;height:2px;width:20px;background: #000;}



.boxContainer{display: grid;grid-template-columns: 1fr 1fr;justify-content: center;align-items: center;grid-gap: 50px;padding:50px 0;}
@media (max-width: 40.06rem) {.boxContainer{grid-template-columns: 1fr;padding:25px 0;}}
.boxContainer p{font-size: 20px;margin:0;}
.boxContainer .box{position: relative;}
.boxContainer .box .title{font-size: 35px;}
.boxContainer .boxText span{text-transform: uppercase;}


#muelleBox{text-align: right;}
#muelleBox .box #muelle_desktop{opacity: 0;transform: translate(-200px,0);}
#muelleBox .box #muelle_mobile{opacity: 0;transform: translate(-200px,0);}
#muelleBox .box #titleMuelle{position: absolute;right: 0;bottom:-0.5em;opacity: 0;transform: translate(0,100px);}
#muelleBox p#textMuelle{opacity: 0;transform: translate(100px,0px);}


#puntaCocoBox{text-align: left;overflow: hidden;}
#puntaCocoBox .box #puntacoco_desktop{opacity: 0;transform: translate(200px,0);}
#puntaCocoBox .box #puntacoco_mobile{opacity: 0;transform: translate(200px,0);}
#puntaCocoBox .box #titlePuntaCoco{position: absolute;left: -50px;bottom:-0.5em;opacity: 0;transform: translate(0,100px);}
#puntaCocoBox p#textPuntaCoco{opacity: 0;transform: translate(100px,0px);}
@media (max-width: 40.06rem) {
	#puntaCocoBox .box{grid-row-start: 1;grid-row-end: 2;}
	#puntaCocoBox .box #titlePuntaCoco{left:0;}

}


#puntaMosquito{text-align: right;}
#puntaMosquito .box #puntamosquito_desktop{opacity: 0;transform: translate(-200px,0);}
#puntaMosquito .box #puntamosquito_mobile{opacity: 0;transform: translate(-200px,0);}
#puntaMosquito .box #titlePuntaMosquito{position: absolute;right: 0;bottom:-0.5em;opacity: 0;transform: translate(0,100px);}
#puntaMosquito p#textPuntaMosquito{opacity: 0;transform: translate(100px,0px);}


#centroBox{text-align: left;overflow: hidden;}
#centroBox .box #centro_desktop{opacity: 0;transform: translate(200px,0);}
#centroBox .box #centro_mobile{opacity: 0;transform: translate(200px,0);}
#centroBox .box #titleCentro{position: absolute;left: -50px;bottom:-0.5em;opacity: 0;transform: translate(0,100px);}
#centroBox p#textCentro{opacity: 0;transform: translate(100px,0px);}
@media (max-width: 40.06rem) {
	#centroBox .box{grid-row-start: 1;grid-row-end: 2;}
	#centroBox .box #titleCentro{left:0;}

}



.otrasAtracciones .container{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 50px;}
.otrasAtracciones .box p{position: absolute;font-size: 40px;margin:0;}
.otrasAtracciones .box .icon{position: absolute;}
.otrasAtracciones .box .button{position:relative;outline:none;background: #000;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.otrasAtracciones .box .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.otrasAtracciones .box .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.otrasAtracciones .box .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.otrasAtracciones .box .button:hover{cursor: pointer;background:#fff;}
.otrasAtracciones .box .button:hover a{color:#000;}
.otrasAtracciones .box .button:hover:before,
.otrasAtracciones .box .button:hover:after{transform: scaleY(1);}
.otrasAtracciones .box .button span{position: relative;display: block;padding:5px 0;}
.otrasAtracciones .box .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.otrasAtracciones .box .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.otrasAtracciones .box .button:hover span:after,
.otrasAtracciones .box .button:hover span:before{transform: scaleX(1);}


.otrasAtracciones .toursContainer{position: relative;text-align: left;}
.otrasAtracciones .toursContainer .image{margin:40px 0;opacity: 0;transform: translate(-200px,0);}
.otrasAtracciones .toursContainer .icon{top:15px;left:0; opacity: 0;}
.otrasAtracciones .toursContainer p{left:0;top:15px;width:100%;text-align: center;opacity: 0;transform: translate(0,-50px);}
.otrasAtracciones .toursContainer .button{opacity: 0;position:absolute;left:calc(50% - 100px);top:50px;width:100%;text-align: center;}
@media (max-width: 40.06rem) {
	.otrasAtracciones .container{grid-template-columns: 1fr;grid-gap:20px;}
}

.otrasAtracciones .tipsContainer{position: relative;text-align: left;margin:0 0 50px 0;}
.otrasAtracciones .tipsContainer .image{margin:40px 0;opacity: 0;transform: translate(200px,0);}
.otrasAtracciones .tipsContainer .icon{bottom:55px;right:0; opacity: 0;}
.otrasAtracciones .tipsContainer p{left:10px;bottom:55px;width:100%;text-align: left;opacity: 0;transform: translate(0,-50px);}
.otrasAtracciones .tipsContainer .button{opacity: 0;width:100%;text-align: center;}
@media (max-width: 40.06rem) {
	.otrasAtracciones .container{grid-template-columns: 1fr;grid-gap:20px;}
}
