.desktop{height:auto;}.mobile{height:0;}
@media (max-width: 40.06rem) {.desktop{height:0;}.mobile{height:auto;}}

.tips_header{height: 100vh;width: 100%;background-image: url('../img/holbox-tips-desktop.jpg');background-position: 50%;background-repeat: no-repeat;background-size:cover;}
@media (max-width: 40.06rem) {.tips_header{background-image: url('../img/holbox-tips-mobile.jpg');}}
.tips_texto{padding:50px 0;}
.tips_texto #text1{opacity: 0;transform: translate(-1000px,0);text-align: center;max-width: 450px;}
.tips_texto h1{font-weight: 500;font-size: 40px;}
.tips_texto h1 b{font-weight: 800;text-transform: uppercase;}
.tips_texto p{font-size: 20px;}


.tips_container{overflow: hidden;}
.tips_container .container{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 50px;padding:0 0 50px 0;}
@media (max-width: 40.06rem) {.tips_container .container{grid-template-columns: 1fr;padding:25px 0;}}

.boxContainer div{background-color:#f2f2f2;display: inline-block;}
.boxContainer h2{font-weight:400;font-size: 35px;margin:0;transform: translate(0,50px);opacity: 0;}
.boxContainer p{font-size: 20px;margin:0;}


.boxContainer#quehacerContainer li{transform: translate(-200px,0);opacity: 0;padding: 0 0 20px 0;}
.boxContainer#quetraerContainer li{transform: translate(200px,0);opacity: 0;padding: 0 0 20px 0;}
