.desktop{height:auto;}.mobile{height:0;}
@media (max-width: 40.06rem) {.desktop{height:0;}.mobile{height:auto;}}

.hotel_anfitriones_header{height: 100vh;width: 100%;background-image: url('../img/hotel-anfitriones-header-desktop.jpg');background-position: 50%;background-repeat: no-repeat;background-size:cover;}
@media (max-width: 40.06rem) {.hotel_anfitriones_header{background-image: url('../img/hotel-anfitriones-header-mobile.jpg');}}

.hotel_anfitriones_container {padding: 50px 0;}
.hotel_anfitriones_container h2{opacity: 0;transform: translate(100px,0);text-align: right;position: relative;text-transform: uppercase;font-size: 30px;}
.hotel_anfitriones_container h2:after{content: '';position: absolute;bottom:-5px;right:0;height:2px;width:20px;background: #000;}


.boxContainer{display: grid;grid-template-columns: 1fr 1fr;justify-content: center;align-items: center;grid-gap: 50px;padding:50px 0;}
@media (max-width: 40.06rem) {.boxContainer{grid-template-columns: 1fr;padding:25px 0;}}
.boxContainer p{font-size: 20px;margin:0;}
.boxContainer .boxTextContainer p{margin-bottom:20px;}
.boxContainer .box{position: relative;}
.boxContainer .box .title{font-size: 35px;}
.boxContainer .boxText span{text-transform: uppercase;}
.boxContainer .box .icon{position: absolute;}
.boxContainer .button{position:relative;outline:none;background: #000;opacity:0;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.boxContainer .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.boxContainer .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover{cursor: pointer;background:#fff;}
.boxContainer .button:hover a{color:#000;}
.boxContainer .button:hover:before,
.boxContainer .button:hover:after{transform: scaleY(1);}
.boxContainer .button span{position: relative;display: block;padding:5px 0;}
.boxContainer .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover span:after,
.boxContainer .button:hover span:before{transform: scaleX(1);}



#BodasBox .box #Bodas_desktop{opacity: 0;transform: translate(-200px,0);}
#BodasBox .box #Bodas_mobile{opacity: 0;transform: translate(-200px,0);}
#BodasBox .box #titleBodas{position: absolute;right: 0;bottom:-25px;opacity: 0;transform: translate(0,100px);}
#BodasBox .boxTextContainer ul li p{margin-bottom: 0px;}
#BodasBox .boxTextContainer p#textBodas{opacity: 0;transform: translate(100px,0px);}



#RetirosBox{text-align: left;overflow: hidden;}
#RetirosBox .box #Retiros_desktop{opacity: 0;transform: translate(200px,0);}
#RetirosBox .box #Retiros_mobile{opacity: 0;transform: translate(200px,0);}
#RetirosBox .box #titleRetiros{position: absolute;left: 0px;bottom:-0.5em;width:100%;text-align:center;opacity: 0;transform: translate(0,100px);}
#RetirosBox p#textRetiros{opacity: 0;transform: translate(-100px,0px);}
@media (max-width: 40.06rem) {
	#RetirosBox .box{grid-row-start: 1;grid-row-end: 2;}
	#RetirosBox .boxTextContainer{text-align: center;}
	#RetirosBox .boxTextContainer #RetirosButton{margin:10px auto;}

}

#EventosEspecialesBox .box #imageSensaciones_desktop{opacity: 0;transform: translate(-200px,0);}
#EventosEspecialesBox .box #imageSensaciones_mobile{opacity: 0;transform: translate(-200px,0);}
#EventosEspecialesBox .box #titleEventosEspeciales{position: absolute;right: 0;bottom:-25px;opacity: 0;transform: translate(0,100px);}
#EventosEspecialesBox .boxTextContainer p#textEventosEspeciales{opacity: 0;transform: translate(100px,0px);}
#EventosEspecialesBox .boxTextContainer #EventosEspecialesButton{margin:10px 0 0 0;}


.hotel_otrasattracciones_container {padding: 50px 0;}
.hotel_otrasattracciones_container h2{opacity: 0;transform: translate(100px,0);text-align: right;position: relative;text-transform: uppercase;font-size: 30px;}
.hotel_otrasattracciones_container h2:after{content: '';position: absolute;bottom:-5px;right:0;height:2px;width:20px;background: #000;}

#holboxSensacionesBox{text-align: right;overflow: hidden;}
#holboxSensacionesBox .box #imageSensaciones_desktop{opacity: 0;transform: translate(-200px,0);}
#holboxSensacionesBox .box #imageSensaciones_mobile{opacity: 0;transform: translate(-200px,0);}
#holboxSensacionesBox .box #titleSensaciones{opacity: 0;transform: translate(0,-50px);position:absolute;left:0;bottom:60px;width:100%;text-align: center; font-size:40px;font-weight: 700;margin:0;}
#holboxSensacionesBox #iconSensaciones{bottom:80px;right:15px;opacity: 0; }
#holboxSensacionesBox .boxTextContainer #sensacionesButton{margin:0;float: right;    width: 200px;}



#toursBox{text-align: right;overflow: hidden;}
#toursBox .box {grid-column-start: 2;}
#toursBox .box #imageTours_desktop{opacity: 0;transform: translate(200px,0);}
#toursBox .box #imageTours_mobile{opacity: 0;transform: translate(200px,0);}
#toursBox .box #titleTours{opacity: 0;transform: translate(0,-50px);position:absolute;left:0;top:-30px;width:100%;text-align: center; font-size:40px;font-weight: 700;margin:0;}
#toursBox #iconTours{top:-30px;left:15px;opacity: 0; }
@media (max-width: 40.06rem) {
	#toursBox .box{grid-column-start: 1;}	
}



#tipsBox{text-align: right;overflow: hidden;}
#tipsBox .box #imageTips_desktop{opacity: 0;transform: translate(-200px,0);}
#tipsBox .box #imageTips_mobile{opacity: 0;transform: translate(-200px,0);}
#tipsBox .box #titleTips{opacity: 0;transform: translate(0,-50px);position:absolute;left:0;bottom:60px;width:100%;text-align: center; font-size:40px;font-weight: 700;margin:0;}
#tipsBox #iconTips{bottom:80px;right:15px;opacity: 0; }
#tipsBox .boxTextContainer #tipsButton{margin:0;float: right;    width: 200px;}




















#MiniPescaBox .box #MiniPesca_desktop{opacity: 0;transform: translate(-200px,0);}
#MiniPescaBox .box #MiniPesca_mobile{opacity: 0;transform: translate(-200px,0);}
#MiniPescaBox .box #titleMiniPesca{position: absolute;right: 0;bottom:-25px;opacity: 0;transform: translate(0,100px);}
#MiniPescaBox .boxTextContainer p#textMiniPesca1{opacity: 0;transform: translate(100px,0px);}
#MiniPescaBox .boxTextContainer p#textMiniPesca2{opacity: 0;transform: translate(100px,0px);}
#MiniPescaBox .boxTextContainer #MiniPescaButton{margin:10px 0 0 0;}



#KayaksBox .box #Kayaks_desktop{opacity: 0;transform: translate(-200px,0);}
#KayaksBox .box #Kayaks_mobile{opacity: 0;transform: translate(-200px,0);}
#KayaksBox .box #titleKayaks{position: absolute;right: 0;bottom:-25px;opacity: 0;transform: translate(0,-100px);}
#KayaksBox .boxTextContainer p#textKayaks{opacity: 0;transform: translate(-100px,0px);}
#KayaksBox .boxTextContainer p#textKayaks2{opacity: 0;transform: translate(-100px,0px);}
#KayaksBox .boxTextContainer #KayaksButton{margin:10px 0 0 0;}

@media (max-width: 40.06rem) {
	#KayaksBox .box{grid-row-start: 1;grid-row-end: 2;}
}


#PaseoCaballoBox{text-align: right;overflow: hidden;}
#PaseoCaballoBox .box #PaseoCaballo_desktop{opacity: 0;transform: translate(200px,0);}
#PaseoCaballoBox .box #PaseoCaballo_mobile{opacity: 0;transform: translate(200px,0);}
#PaseoCaballoBox .box #titlePaseoCaballo{position: absolute;left: 0px;bottom:-0.5em;width:100%;text-align:center;opacity: 0;transform: translate(0,100px);}
#PaseoCaballoBox p#textPaseoCaballo{opacity: 0;transform: translate(100px,0px);}
#PaseoCaballoBox p#textPaseoCaballo2{opacity: 0;transform: translate(100px,0px);}
#PaseoCaballoBox .boxTextContainer #PaseoCaballoButton{margin:0;float: right;    width: 200px;}


#CarritoGolfBox .box #CarritoGolf_desktop{opacity: 0;transform: translate(-200px,0);}
#CarritoGolfBox .box #CarritoGolf_mobile{opacity: 0;transform: translate(-200px,0);}
#CarritoGolfBox .box #titleCarritoGolf{position: absolute;right: 0;bottom:-25px;opacity: 0;transform: translate(0,100px);}
#CarritoGolfBox .boxTextContainer p#textCarritoGolf{opacity: 0;transform: translate(-100px,0px);}
#CarritoGolfBox .boxTextContainer p#textCarritoGolf2{opacity: 0;transform: translate(-100px,0px);}
#CarritoGolfBox .boxTextContainer #titleCarritoGolf{margin:10px 0 0 0;}
@media (max-width: 40.06rem) {
	#CarritoGolfBox .box{grid-row-start: 1;grid-row-end: 2;}
}
