.desktop{height:auto;}.mobile{height:0;}
@media (max-width: 40.06rem) {.desktop{height:0;}.mobile{height:auto;}}

.hotel_restaurante_header{height: 100vh;width: 100%;background-image: url('../img/hotel-restaurante-header-desktop.jpg');background-position: 50%;background-repeat: no-repeat;background-size:cover;}
@media (max-width: 40.06rem) {.hotel_restaurante_header{background-image: url('../img/hotel-restaurante-header-mobile.jpg');}}

#logoMangle{max-width:150px;margin:20px auto;width:80%;opacity: 0;}	
#logoMangle svg{width:100%;}	
.hotel_restaurante_texto{padding:100px 0 50px 0;}
.hotel_restaurante_texto #text1{opacity: 0;transform: translate(-1000px,0);text-align: center;max-width: 450px;}
.hotel_restaurante_texto h1{font-weight: 500;font-size: 40px;}
.hotel_restaurante_texto h1 b{font-weight: 800;text-transform: uppercase;}
.hotel_restaurante_texto p{font-size: 20px;}
.hotel_restaurante_texto span{text-transform: uppercase;}

#cocinaAutorBox{position: relative;padding:50px 0 100px 0;}
#cocinaAutorBox .bigger{width:80%;opacity: 0;transform: translate(200px,0);}
#cocinaAutorBox .smaller{position: absolute;bottom:0;right:0;width:30%;opacity: 0;transform: translate(-200px,0);}
.hotel_restaurante_texto #text2{opacity: 0;transform: translate(-1000px,0);text-align: right;max-width: 450px;margin-top:50px;}
@media (max-width: 40.06rem) {
	#cocinaAutorBox{padding:50px 0;}
	#cocinaAutorBox .bigger{width:250px}
	#cocinaAutorBox .smaller{width:170px;}
}


.activadorExperiencia{position: relative;padding:50px 0;}
.activadorExperiencia #experiencia_desktop{opacity: 0;}
.activadorExperiencia #experiencia_mobile{opacity: 0;}
.hotel_restaurante_texto #text3{opacity: 0;transform: translate(1000px,0);text-align: right;max-width: 450px;}


.holbox_tours_container{padding:50px 0;}
.boxContainer{display: grid;grid-template-columns: 1fr 1fr;justify-content: center;align-items: center;grid-gap: 50px;padding:50px 0;}
@media (max-width: 40.06rem) {.boxContainer{grid-template-columns: 1fr;padding:25px 0;}}
.boxContainer p{font-size: 20px;margin:0;}
.boxContainer .boxTextContainer p{margin-bottom:20px;}
.boxContainer .box{position: relative;}
.boxContainer .box .title{font-size: 35px;}
.boxContainer .boxText span{text-transform: uppercase;}
.boxContainer .box .icon{position: absolute;}
.boxContainer .button{position:relative;outline:none;background: #000;opacity:0;text-align:center;text-transform: uppercase;color:#fff;border:0;transition: all 0.3s ease-in;max-width: 200px;margin: 10px auto;}
.boxContainer .button a{text-transform: uppercase;color:#fff;font-size:16px;text-decoration:none;transition: all 0.3s ease-in;}
.boxContainer .button:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button:after{content: '';position: absolute;bottom: 0;right: 0;width: 1px;height: 100%;background-color: #000;transform: scaleY(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover{cursor: pointer;background:#fff;}
.boxContainer .button:hover a{color:#000;}
.boxContainer .button:hover:before,
.boxContainer .button:hover:after{transform: scaleY(1);}
.boxContainer .button span{position: relative;display: block;padding:5px 0;}
.boxContainer .button span:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: top left;transition: transform 1s;}
.boxContainer .button span:after{content: '';position: absolute;bottom: 0;right: 0;width: 100%;height: 1px;background-color: #000;transform: scaleX(0);transform-origin: bottom right;transition: transform 1s;}
.boxContainer .button:hover span:after,
.boxContainer .button:hover span:before{transform: scaleX(1);}



#BarPedalesBox{align-items: start;}
#BarPedalesBox .box #BarPedales_desktop{opacity: 0;transform: translate(-200px,0);}
#BarPedalesBox .box #BarPedales_mobile{opacity: 0;transform: translate(-200px,0);}
#BarPedalesBox .box #titleBarPedales{position: absolute;right: 0;bottom:-25px;opacity: 0;transform: translate(0,100px);}
#BarPedalesBox .boxTextContainer p#textBarPedales1{opacity: 0;transform: translate(100px,0px);}
#BarPedalesBox .boxTextContainer p#textBarPedales2{opacity: 0;transform: translate(100px,0px);}
#BarPedalesBox .boxTextContainer p#textBarPedales3{opacity: 0;transform: translate(100px,0px);}




#CenaRomanticaBox{text-align: right;overflow: hidden;}
#CenaRomanticaBox .box #CenaRomantica_desktop{opacity: 0;transform: translate(200px,0);}
#CenaRomanticaBox .box #CenaRomantica_mobile{opacity: 0;transform: translate(200px,0);}
#CenaRomanticaBox .box #titleCenaRomantica{position: absolute;left: 0px;bottom:-0.5em;width:100%;text-align:center;opacity: 0;transform: translate(0,100px);}
#CenaRomanticaBox p#textCenaRomantica{opacity: 0;transform: translate(-100px,0px);}
#CenaRomanticaBox .boxTextContainer #CenaRomanticaButton{opacity:0;float: right;width: 200px;}
@media (max-width: 40.06rem) {
	#CenaRomanticaBox .box{grid-row-start: 1;grid-row-end: 2;}

}